nextflow.enable.dsl=2

params {
    input = ""
    output_dir = "Output"

    // nanacomp
    nanocomp_threads = 24
    nanocomp_params = "-f pdf --plot violin"

    // fastplong
    fastplong_threads = 12
    min_quality = 10
    min_length = 1000
    fastplong_params = ""

    genome_size = "5m"
    assembly_strategy = "flye_medaka"

    // flye + medaka
    flye_threads = 20
    flye_iterations = 5
    flye_min_overlap = 1000
    flye_params = ""
    medaka_threads = 20 
    medaka_params = ""

    // canu + racon
    canu_threads = 40
    canu_params = ""
    minimap2_threads = 40
    racon_threads = 40
    racon_params = ""

    // quast busco
    quast_threads = 40
    quast_params = ""
    busco_threads = 40
    busco_odb_dir = "/databases/bacteria_odb12"
    busco_params = ""

    // checkm
    checkm_threads = 20
    pplacer_threads = 8
    checkm_databases = "/databases/checkm_data"
    checkm_params = "--tab_table"
}

docker {
	enabled = true
	fixOwnership = true
	runOptions = " -v ${projectDir}/databases:/databases"
}

process {
    container = 'repository-docker.dftianyi.com/bio-delivery/bac-complete_genome:v1.0'

    executor = 'local'
    cpus = 20
    memory = '32 GB'

    withName: 'nanocomp' {
        cpus = params.nanocomp_threads
        memory = '16 GB'
    }

    withName: 'fastplong' {
        cpus = params.fastplong_threads
        memory = '8 GB'
    }

    withName: 'flye_medaka' {
        cpus = params.flye_threads
        memory = '64 GB'
    }

    withName: 'canu_racon' {
        cpus = params.canu_threads
        memory = '64 GB'
    }

    withName: 'quast' {
        cpus = params.quast_threads
        memory = '16 GB'
    }

    withName: 'busco' {
        cpus = params.busco_threads
        memory = '16 GB'
    }

    withName: 'checkm' {
        cpus = params.checkm_threads
        memory = '16 GB'
    }

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 3
    maxErrors = '-1'
}
